* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-size: 1.3em;
    line-height: 1.2em;
    background-color: darkseagreen;
}


header,
.add-new,
.list,
.btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 40px;
}

.insert-text {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.insert-text,
.add-btn,
.all-delete-btn,
.delete-button {
    padding: 10px;
    margin: 20px;
    width: 20%;
    border-radius: 5px;
    border: none;

}

.add-btn,
.all-delete-btn {
    width: 10%;
    font-size: 15px;
}

.plans {
    margin: 20px;
}

li {
    list-style-type: none;
    margin: 20px;
}

.list {
    background-color: rgb(86, 115, 86);
    width: 50%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

.delete-button {
    width: 60px;
}